<% layout('./layouts/boilerplate.ejs')%>

    <h1>Bus Booking System</h1>
    <form action="/bookings/<%=booking._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%=booking.name%>" required><br><br>

        <label for="destination">Destination:</label>
        <input type="text" name="destination" value="<%=booking.destination%>" required><br><br>

        <label for="date">Date:</label>
        <input type="date" name="date" value="<%=booking.date%>" required><br><br>

        <input type="submit" value="Update">
    </form>
    <form action="/bookings/<%=booking._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>